#about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#about .container {
    height: 100%;
}

#about header {
    display: flex;
    align-items: center;
    height: 60px;
}

#about_image img {
    width: 100%;
}

#about section {
    display: flex;
    align-items: flex-start;
    height: calc(100svh - 60px);
}

#about_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffffff;
    max-height: 98%;
}

#about_content #about_content_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    padding-top: 4px;
}

#about_content #about_content_buttons button {
    background-color: #0097c0;
    border: 0;
    text-transform: uppercase;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
    color: #ffffff;
}

/* ---------------------------------------------------------- */
/* CONTENT */
/* Article*/
#about_content_details article {
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
}

/* Icon */
#about_content #about_content_details .about_content_indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0097c0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #ffffff;
    padding: 1rem;
}

/* CONTENT INFO */
#about_content #about_content_details .about_content_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: gold; */
    margin-right: 1rem;
    gap: 1rem;
}

#about_content #about_content_details .about_content_info header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: auto !important;
    width: 100%;
}

#about_content #about_content_details .about_content_info header h5 {
    font-weight: bold;
    text-transform: uppercase;
}

#about_content #about_content_details .about_content_info header .about_content_info_header_principal {
    display: flex;
    flex-direction: column;
}

#about_content #about_content_details .about_content_info header .about_content_info_header_principal span {
    display: flex;
    padding: 2px 8px;
    font-size: 12px;
    height: 24px;
    text-transform: none;
    display: flex;
    background-color: #C6C6C6;
    color: #3B3B3B;
    border-radius: 15px;
    width: max-content;
}

#about_content #about_content_details .about_content_info header .about_content_info_header_principal h6 {
    font-weight: bold;
    text-transform: initial;
    color: #777777;
}

#about_content #about_content_details .about_content_info header .about_content_info_header_principal small {
    color: rgb(116, 116, 116);
    text-transform: uppercase;
}

#about_content #about_content_details .about_content_info header .about_content_info_header_links a {
    /* margin-right: 1.4rem; */
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    /* border-color: #0097c0; */
}

#about_content #about_content_details .about_content_info header .about_content_info_header_links a:hover {
    background-color: #0097c0;
}

#about_content #about_content_details .about_content_info section {
    display: flex;
    flex-direction: column;
    height: auto !important;
}

#about_content #about_content_details .about_content_info section ul{
    margin: 0;
}