html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

body>section {
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    scroll-snap-align: start;
    background-color: #cccccc;
    overflow-x: hidden;
}

@media only screen and (min-width: 320px) and (max-width: 1200px) {
    body>section {
        min-height: 100svh;
        overflow-y: auto;
    }
}

/* Container configurator (only for 720p screens above)*/
@media only screen and (min-width: 720px) {
    .container {
        max-width: 95% !important;
        width: 95% !important;
    }
}

/* Icons */
.items {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    /* Remove os marcadores da lista */
    margin: 0;
    /* Define margem zero */
    padding: 0;
    /* Remove padding padrão */
}

.items-aligned {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.items a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
}

.items a:hover, 
#projects #projects_content_cards .card-footer a:hover {
    color: #0097c0;
}

/* Text elements */
h1 {
    font-weight: bold;
}

h1,
h2,
h4,
h5,
span,
p {
    margin-bottom: 0 !important;
}

/* Flags */
.flag {
    width: 2rem;
    /*filter: brightness(0.8);*/
}

.flag:hover {
    filter: brightness(0.9);
}

/* Header of each section */
.headerSection {
    display: flex;
    /* align-items: center; */
    height: calc(100svh - 60px - 10px);
    /* background-color: gold; */
}

.headerSection h2 {
    font-weight: bold;
}

/* Technologies indicator */
.professional_skill {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.professional_skill_span {
    background-color: #C6C6C6;
    color: #3B3B3B;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 12px;
    height: 24px;
    display: inline-flex;
    align-items: center;
}

/* buttons */
button {
    background-color: #00BCEF;
}

button:hover {
    filter: brightness(0.9);
}

/* Date Style */
.date {
    color: #8b8b8b;
    font-size: 12px;
}