body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Oswald', serif;
}

/* Bandeiras */
li a .flag {
    max-width: 1.375rem;
}

/* Tudo do Header */
header {
    position: absolute;
}

h2,
h4 {
    text-align: start;
}

button {
    background: #00BCEF;
    margin-left: 0.313rem;
    margin-right: 0.313rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 5rem;
    border: 0.094rem solid
}

button:hover {
    background: #0086AB
}

a {
    color: #000000;
    margin-left: 5px;
    margin-right: 5px
}

/* Lista de Itens */
#navbarTogglerDemo02 ul li a {
    font-size: 1.125rem;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) and (orientation: portrait){
    /* Do NAV */
    .nav-item {
        padding-right: 0.625rem;
    }
}

@media only screen and (min-width: 600px) {
    .nav-item {
        padding-right: 0.625rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body,
    li,
    a,
    p {
        font-size: 0.938rem;
    }
    
    .fixed-top {
        padding-top: 1.5rem;
    }
}

#about,
#projetos,
#line,
#publicacoes
{
    background: #DCDCDC
}

hr {
    color: #007CA1
}

#presentation,
#contato,
#presentation p a i {
    background-image: url('/assets/img/other/wallpaper.jpg');
    color: white;
    align-items: center;
    justify-content: center;
}

/* Landing Page, exceto Projetos que precisará de mais scroll*/
#presentation,
#about,
#publicacoes {
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
    height: 100vh;
}

#presentation,
#about,
#projetos,
#contato,
#publicacoes, #publications {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

#contato {
    height: 3.125rem;
}

#contato p {
    margin-bottom: 0
}

/* Botão de retorno para a página inicial */
#return {
    background: gray;
    position: fixed;
    bottom: 0;
    right: 0.313rem;
}

#return a {
    color: black;
    margin: 0
}

#return:hover {
    background-color: #00BCEF
}
