/* #header-principal {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
} */

#header-principal {
    height: 0;
}

nav {
    padding-right: 15px;
}

.nav-item {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 320px) and (orientation: portrait) {
    nav {
        padding: 10px;
    }

    nav ul {
        padding-right: 10px;
    }

    .nav-item {
        justify-content: right;
    }
}

@media only screen and (min-width: 1200px){
    nav ul {
        gap: 0.8rem;
    }

    .nav-item {
        justify-content: center;
    }
}







/* nav {
    padding-right: 15px;
}

@media only screen and (min-width: 320px) and (orientation: portrait) {
    .show {
        position: fixed;
        display: flex;
        justify-content: end;
        left: 0;
        width: 100%;
        top: 50px;
        padding-right: 25px;
    }

    .show nav ul {
        gap: 0.6rem;
    }

    nav ul li {
        display: flex;
        justify-content: end;
    }
}

nav ul {
    gap: 0.8rem;
}

nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
} */