#presentation {
    background-color: #1a1a1a;
    color: #e5e5e5;
}

#presentation h1, p {
    text-transform: none;
}

#presentation p {
    font-weight: 500;
}

/* Image */
@media only screen and (min-width: 320px) and (orientation: portrait){
    #presentation .row {
        flex-direction: column;
        gap: 2rem;
    }

    #presentation img {
        width: 80%;
    }

    #presentation_info * {
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (min-width: 720px) {
    #presentation_photo img {
        width: 70%;
    }
}

#presentation .container div {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
}

#presentation_info {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}