#projetos .col-xs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.188rem;
}

#projetos .card-img-top {
    height: 50%
}

#projetos .card-body {
    //height: 50%
}

#projetos .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25rem;
    //grid-auto-rows: ;
    grid-gap: 0.625rem;
}

#projetos button {
    background: transparent;
    border: 0;
    width: 3.125rem
}

#projetos button:hover {
    color: #00BCEF
}

@media only screen and (max-width: 576px) and (orientation: portrait){
    #projetos {
        padding-top: 0.75rem;
        padding-bottom: 0.313rem;
    }

    #projetos .col-xs {
        /* max-height: 400px; */
    }

    #projetos .row {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        margin: 0.125rem
    }
}

/* Mobiles on landscape */
@media only screen and (max-width: 920px) and (orientation: landscape){
    #projetos .col-xs {
        width: 50%;
        height: 23.125rem
    }

    #projetos .row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 23.125rem;
        margin: 0.125rem
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    #projetos {
        padding-top: 0.75rem;
    }

    #projetos .row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 0.125rem
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: landscape){
    #projetos {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        height: auto
    }

    #projetos .row {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 0.125rem
    }
}

@media screen and (min-width: 1200px) {
    #projetos {
        min-height: 100vh;
    }

    #projetos .card-img-top {
        height: 60%
    }
}
