#publicacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 576px) {
    #publicacoes {
        height: auto;
    }
    
    #publicacoes > .container {
        /* height: 100%; */
        width: 90%;
    }

    #publicacoes>.container>header {
        display: flex;
        position: relative;
        margin-left: -13px;
        height: 3.5%;
    }

    #publicacoes>.container>header>h2{
        margin-top:5px;
    }

    #publicacoes>.container>section {
        display: flex;
        position: relative;
        background-color: #fff;
        height: 95%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px 2px #888888;
    }

    .publicacoes-image-content,
    .publicacoes-content {
        /* height: 65%; */
    }

    .publicacoes-image-content {        
        padding: 0;        
        
    }

    .publicacoes-image {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .publicacoes-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px
    }

    #publicacoes .title {
        font-size: large;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }

    #publicacoes .subtitle,
    #publicacoes .content {
        font-size: medium;
        text-align: left;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #publicacoes .links-publicacao {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px
    }

    #publicacoes .links-publicacao a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        height: 2rem;
        background-color: #00BCEF;
        border-radius: 0.5rem;
        text-decoration: none;
        margin-left: 0;
        font-size: medium;
        text-transform: uppercase;
    }

    #publicacoes .links-publicacao a:hover {
        color: black;
        background-color: #00C9FF;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    #publicacoes {
        height: auto;
    }
    
    #publicacoes > .container {
        height: 100%;
    }

    #publicacoes>.container>header {
        display: flex;
        position: relative;
        margin-left: -13px;
        height: 3.5%;
    }

    #publicacoes>.container>header>h2{
        margin-top:5px;
    }

    #publicacoes>.container>section {
        display: flex;
        position: relative;
        background-color: #fff;
        height: 95%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px 2px #888888;
    }

    .publicacoes-image-content,
    .publicacoes-content {
        /* height: 65%; */
    }

    .publicacoes-image-content {        
        padding: 0;        
        
    }

    .publicacoes-image {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .publicacoes-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px
    }

    #publicacoes .title {
        font-size: large;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }

    #publicacoes .subtitle,
    #publicacoes .content {
        font-size: medium;
        text-align: left;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #publicacoes .links-publicacao {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 10px
    }

    #publicacoes .links-publicacao a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        height: 2rem;
        background-color: #00BCEF;
        border-radius: 0.5rem;
        text-decoration: none;
        margin-left: 0;
        font-size: medium;
        text-transform: uppercase;
    }

    #publicacoes .links-publicacao a:hover {
        color: black;
        background-color: #00C9FF;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    #publicacoes {
        height: auto;
    }
    
    #publicacoes > .container {
        height: 100%;
    }

    #publicacoes>.container>header {
        display: flex;
        position: relative;
        margin-left: -13px;
        height: 3.5%;
    }

    #publicacoes>.container>header>h2{
        margin-top:5px;
    }

    #publicacoes>.container>section {
        display: flex;
        position: relative;
        background-color: #fff;
        height: 95%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px 2px #888888;
    }

    .publicacoes-image-content,
    .publicacoes-content {
        /* height: 65%; */
    }

    .publicacoes-image-content {        
        padding: 0;        
        
    }

    .publicacoes-image {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .publicacoes-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px
    }

    #publicacoes .title {
        font-size: large;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }

    #publicacoes .subtitle,
    #publicacoes .content {
        font-size: medium;
        text-align: left;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #publicacoes .links-publicacao {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 10px
    }

    #publicacoes .links-publicacao a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        height: 2rem;
        background-color: #00BCEF;
        border-radius: 0.5rem;
        text-decoration: none;
        margin-left: 0;
        font-size: medium;
        text-transform: uppercase;
    }

    #publicacoes .links-publicacao a:hover {
        color: black;
        background-color: #00C9FF;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #publicacoes {
        height: auto;
    }
    
    #publicacoes > .container {
        height: 100%;
    }

    #publicacoes>.container>header {
        display: flex;
        position: relative;
        margin-left: -13px;
        height: 3.5%;
    }

    #publicacoes>.container>header>h2{
        margin-top:5px;
    }

    #publicacoes>.container>section {
        display: flex;
        position: relative;
        background-color: #fff;
        height: 95%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px 2px #888888;
    }

    .publicacoes-image-content,
    .publicacoes-content {
        /* height: 65%; */
    }

    .publicacoes-image-content {        
        padding: 0;        
        
    }

    .publicacoes-image {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .publicacoes-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px
    }

    #publicacoes .title {
        font-size: large;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }

    #publicacoes .subtitle,
    #publicacoes .content {
        font-size: medium;
        text-align: left;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #publicacoes .links-publicacao {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 10px
    }

    #publicacoes .links-publicacao a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        height: 2rem;
        background-color: #00BCEF;
        border-radius: 0.5rem;
        text-decoration: none;
        margin-left: 0;
        font-size: medium;
        text-transform: uppercase;
    }

    #publicacoes .links-publicacao a:hover {
        color: black;
        background-color: #00C9FF;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1400px) {
    #publicacoes>.container {
        height: 100%;
    }

    #publicacoes>.container>header {
        display: flex;
        position: relative;
        margin-left: -13px;
        height: 7%
    }

    #publicacoes>.container>header>h2{
        margin-top:5px;
    }

    #publicacoes>.container>section {
        display: flex;
        position: relative;
        background-color: #fff;
        height: 91%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px 2px #888888;
    }

    .publicacoes-image-content,
    .publicacoes-content {
        height: 100%;
    }

    .publicacoes-image-content {
        padding: 0;
    }

    .publicacoes-image {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .publicacoes-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #publicacoes .title {
        font-size: large;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }

    #publicacoes .subtitle,
    #publicacoes .content {
        font-size: medium;
        text-align: left;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #publicacoes .links-publicacao {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 10px
    }

    #publicacoes .links-publicacao a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        height: 2rem;
        background-color: #00BCEF;
        border-radius: 0.5rem;
        text-decoration: none;
        margin-left: 0;
        font-size: small;
        text-transform: uppercase;
    }

    #publicacoes .links-publicacao a:hover {
        color: black;
        background-color: #00C9FF;
    }
}

@media only screen and (min-width: 1400px) {
    #publicacoes>.container {
        height: 100%;
    }

    #publicacoes>.container>header {
        display: flex;
        position: relative;
        height: 5%;
        margin-left: -12px;
    }

    #publicacoes>.container>section {
        display: flex;
        position: relative;
        background-color: #fff;
        height: 94%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px 2px #888888;
    }

    .publicacoes-image-content,
    .publicacoes-content {
        height: 100%;
    }

    .publicacoes-image-content {
        padding: 0;
    }

    .publicacoes-image {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .publicacoes-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #publicacoes .title {
        font-size: large;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }

    #publicacoes .subtitle,
    #publicacoes .content {
        font-size: medium;
        text-align: left;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #publicacoes .links-publicacao {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 10px
    }

    #publicacoes .links-publicacao a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        height: 2rem;
        background-color: #00BCEF;
        border-radius: 0.5rem;
        text-decoration: none;
        margin-left: 0;
        font-size: small;
        text-transform: uppercase;
    }

    #publicacoes .links-publicacao a:hover {
        color: black;
        background-color: #00C9FF;
    }
}