#publicacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#publicacoes .publicacoes-content s{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#publicacoes h4{
    text-align: center
}

@media only screen and (max-width: 767px) and (orientation: portrait){
    #publicacoes {
        height: auto
    }

    #publicacoes .publicacoes-image {
        width: 100%;
        //height: 100%
    }

    #publicacoes .container {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem
    }

    #publicacoes .publicacoes-content {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait){
    #publicacoes {
        max-height: 100vh
    }

    #publicacoes .container {
        padding-top: 0.313rem;
        padding-bottom: 0.313rem
    }

    #publicacoes .publicacoes-image{
        width: 70%;
        height: 100%
    }

    #publicacoes .publicacoes-content {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem
    }
}

@media only screen and (min-width: 992px){
    #publicacoes .publicacoes-image {
        width: 85%;
        height: 100%
    }

    #publicacoes .publicacoes-content {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
}

/* Mobiles on landscape */
@media only screen and (max-width: 655px) and (orientation: landscape){
    #publicacoes {
        height: auto
    }

    #publicacoes .publicacoes-image {
        display: none
    }
}

@media only screen and (max-width: 960px) and (orientation: landscape){
    #publicacoes {
        min-height: 100vh;
        overflow: scroll
    }

    #publicacoes .publicacoes-image, #publicacoes .col-sm-12 {
        display: none
    }
}

/* Tablets on Landscape */
@media only screen and (max-width: 1200px) and (orientation: landscape){
    #publicacoes .col-lg-12 {
        width: 50%
    }
}