body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Oswald', serif
}

/* Tudo do Header */
header{
    position: absolute;
}

#navbarTogglerDemo02 ul li a{
    font-size: 18px;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
}

/* Configurações individuais de cada Landing Page */
#presentation, #contato, #presentation p a i{
    background-image: url('/assets/img/other/wallpaper.jpg');
    color: white;


}

#presentation img{
    width: 550px;
    border-radius: 8px;
}

#presentation .column-image, #presentation .column-content{
    display: flex;
    flex-direction: column;
    
}

#presentation .column-image{
    justify-content: center;
    align-items: center;
}


#presentation .contact-info a, #contato p i{
    font-size: 30px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

#presentation i:hover, #contato i:hover{

    color: #00BCEF

} 

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about img{

    height: 560px;
    width: 360px;

    border-radius: 8px;
}

#about .about-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .row .about-content{
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: start;
}

h2, h4 {
    text-align: start;
}

/* Tela de Projetos */

#projetos .col-xs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
}

#projetos a {
    margin-top: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#projetos .card:hover{
    background: #F4F4F4;
    box-shadow: 5px 5px #00BCEF;
}

#projetos .col-xs:hover{
    padding-bottom: 6px;
}

/* Botão de retorno para a página inicial */
#return{
    background: gray;
    position: fixed;
    bottom: 0;
    right: 5px;
}

#return a {
    color: black;
}

#return:hover{
    background-color: #00BCEF
}


/* Landing Page, exceto Projetos que precisará de mais scroll*/
#presentation, #about {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100vh;

}

#presentation, #about, #projetos, #contato {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#about, #projetos, #line {
    background: #DCDCDC
}

hr{
    color: #007CA1
}

/* XS Grid System */
@media only screen and (max-width: 600px){
    
    #presentation, #about, #projetos, #contato {
        padding-top: 12px;
    }

    /* Do NAV */
    .nav-item{
        padding-right: 10px;
    }


    /* Apresentação */
    #presentation img{
        width: 280px;
        border-radius: 8px;
    }

    #presentation .column-content, #presentation .column-image{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    #presentation .column-content p{
        margin-left: 10px;
        margin-right: 10px;
    }

    #about{
        height: auto;
    }
    
    #about img{
        /*
        height: 100%;
        width: 250px;
        */
        
        max-width: fit-content;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    #projetos{

        padding-bottom: 5px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    
    #presentation, #about, #projetos, #contato {
        padding-top: 12px;
    }

    /* Do NAV */
    .nav-item{
        padding-right: 10px;
    }

    /* Apresentação */
    #presentation img{
        width: 550px;
        border-radius: 8px;
    }

    #presentation .column-content, #presentation .column-image{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    #presentation .column-content p{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 25px;
    }
    
    #about .about-image img{
        /*
        max-height: max-content;
        max-width: max-content;

        padding-top: 10px;
        padding-bottom: 10px;
        */

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    #presentation img{
        width: 450px;
        border-radius: 8px;
    }

    #presentation .column-content, #presentation .column-image{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    #about{
        height: 100vh;
    }
    
    #about .about-image img{
        height: 100%;
        max-width: max-content;
        padding-top: 10px;
        padding-bottom: 10px
    }

    #projetos{
        padding-top: 10px;
        padding-bottom: 10px;
        height: AUTO
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    body, li, a, p{
        font-size: 15px;
    }
    
    #presentation img{
        width: 450px;
        border-radius: 8px;
    }

    #presentation .column-content, #presentation .column-image{
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    #presentation .column-content{
        align-items: flex-start;
        justify-content: center;
    }
    
    #presentation .column-content p {
        margin-right: 25px;
        margin-left: 0;
        text-align: justify;
    }

    #about{
        height: 100vh;
        line-height: 1.2;
    }
    
    #about .about-image img{
        max-width: max-content;
        max-height: 80vh;
        padding-top: 0px;
        padding-bottom: 0px
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    
    #presentation .column-content{
        align-items: flex-start;
        justify-content: center;
    }
    
    #presentation .column-content p {
        margin-right: 25px;
        margin-left: 0;
        text-align: justify;
    }

    #about{
        height: 100vh;
    }
    


}

@media screen and (min-width: 1400px){
    
    #presentation img{
        width: 800px;
    }
    
    #about .about-image img{
        max-height: 100%;
        padding-top: 0px;
        padding-bottom: 0px
    }

    #projetos{
        height: 100vh;
    }
}